/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* Button-Up */
.btn {
    width: 150px;
    background-color: #2b78e4;
    color: #fff;
    border: 2px solid #000;
    box-shadow: 3px 3px black;
}
/* .btn-search {
    font-weight: 900;
    width: 100px;
    border-radius: 20px;
    color: #7dc8c8;
    border: 2px solid #7dc8c8;
    background-color: #fff;
}

.btn-add {
    width: 40px;
    background-color: #00d1b2;
    color: #fff;
    border-radius: 50%;
    border: none; */



/* Flexible Columns */
.row {
    display: flex;
}

.col, .col-2, .col-3 {
    margin: 10px;
    padding: 10px;
    background-color: cadetblue;
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

/*NavBar Below */
body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: #333333;
    color: #ffffff;
    height: 80px;
    width: 1000px; /* for styling purposes */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}

.nav-title {
    margin-left: 20px;
}

.btn {
    height: 35px;
    width: 100px;
    background-color: #17a2b8;
    color: #ffffff;
    border: none;
    font-size: 16px;
    box-shadow: 5px 5px #000000;
}