/* .container{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    background-color: silver;
    display: flex;
    align-items: center;
}

.col, .col-2 {
    background-color: blanchedalmond;
    padding: 10px;
    font-size: 1.2rem;
    flex: 1;
}

.col-2 {
    flex: 2;
} */

.row {
    display: flex;
}
.col {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: lightseagreen;
}

.col-2 {
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: palegreen;
}

