<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        h1{
            text-align: center;
        }
        .design {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
        .box {
            border: 2px solid black;
            background-color: rgba(112, 216, 248, 0.685);
            height: 150px;
            width: 150px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="design">
        {% for i in range(0, num) %}
        <p class="box" style="background-color: {{color}};"></p>
        {% endfor %}
    </div>
</body>
</html>