<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT User</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-5">Add a New User</h1>
        <form action="/edit_request/{{id_from}}" method="POST">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" name="fname" placeholder="{{selected[0]['first_name']}}">
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" name="lname" placeholder="{{selected[0]['last_name']}}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="{{selected[0]['email']}}">
            </div>
            <button type="submit" class="btn btn-primary mb-5">Update</button>
        </form>
        <a href="/users">Home</a>
    </div>
</body>
</html>